@media only screen and (max-width: 600px) {
   .navContainer{
    flex-direction: column;
   }

   .navInner{
      display: flex;
      flex-direction: column;
      margin: 20px 0;
   }

   .navInner button{
      margin-top: 20px;
      margin-bottom: 20px;
   }


   .css-cq2wis-MuiAutocomplete-root{
      padding: 25px 0;
      padding-right: 0 !important;
   }
  }


