@media only screen and (max-width: 600px) {
   .navContainer{
    flex-direction: column;
   }

   .navInner{
      display: flex;
      flex-direction: column;
      margin: 20px 0;
   }

   .navInner button{
      margin-top: 20px;
      margin-bottom: 20px;
   }




   .css-cq2wis-MuiAutocomplete-root{
      padding: 25px 0;
      padding-right: 0 !important;
   }

   .css-th06dx{
      padding-right: 0 !important;
   }

   .flockranknet{
      padding-bottom: 40px;
   }

   .css-1df1cvt{
      width: 80dvw !important;
   }

   .css-1xkky4a{
      margin: 0 !important;
   }
}

.dlntsU, .dUPAFy, .dUPAFy::before, .dUPAFy::after, .feXoUD{
   font-family:  'ms_sans_serif' !important;
}

.css-xnv4u0{
   background-color: #c6c6c6 !important;
}

.dWlIsN{
   outline: 0px !important;
}

.css-17x0937-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall{
   background-color: #c6c6c6 !important;
}

.css-17x0937-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input{
   background-color: #c6c6c6 !important;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root{
   background-color: #c6c6c6 !important;
}

.css-1w74ma2{
   background-color: #c6c6c6 !important;

}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
   background-color: #c6c6c6 !important;
}

.css-yjsfm1{
   background-color: #c6c6c6 !important;
}

.css-yjsfm1 span{
   background-color: #c6c6c6 !important;
}

.css-62h5e4-MuiFormLabel-root-MuiInputLabel-root {
   background-color: #c6c6c6 !important;
}

.css-1u4zkqh-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
   background-color: #c6c6c6 !important;
}

.css-1u4zkqh-MuiFormLabel-root-MuiInputLabel-root{
   background-color: #c6c6c6 !important;
}

#root > div > header > div > div.navContainer.MuiBox-root.css-1fxq2el > div > div > div > div {
   color: black
}